<div id="editProfileForm" class="form">
    <form [formGroup]="updateProfileForm" (ngSubmit)="updateProfile()" class="form-widget">
        <div>
            <label for="username"> Nombre: </label>
            <input formControlName="username" id="username" type="text" />
        </div>
        <div>
            <label for="clase"> Clase: </label>
            <input formControlName="clase" id="clase" type="text" />
        </div>
        <div>
            <label for="power"> Poder: </label>
            <input formControlName="power" id="power" type="text" />
        </div>
        <div>
            <label for="level"> Nivel: </label>
            <input formControlName="level" id="level" type="text" />
        </div>
    </form>

     <button id="submit_button" type="submit" class="button primary block submit" [disabled]="loading" (click)="updateProfile()">
      {{ loading ? 'Cargando...' : 'Actualizar' }}
    </button>

    <button id="close-button" class="button secondary block close" (click)="goBack()">
        {{ loading ? 'Cargando...' : 'Volver atrás' }}
    </button>
</div>