<div>
  <h2> Editar perfil </h2>
</div>

<div id="editProfileForm" class="form">

  <form id="edit-form" [formGroup]="updateProfileForm" *ngIf="profile" (ngSubmit)="updateProfile()" class="form-widget">

    <div style="margin-bottom: 1em;" >
      <mat-form-field style="width: 75%;">
        <mat-label for="username"> Nombre: </mat-label>
        <input id="username" matInput appearance="outline" formControlName="username" type="text" required />
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Introduce un email válido
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email es <strong>necesario</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" style="width: 75%;">
        <mat-label> Clase: </mat-label>
        <mat-select formControlName="clase" required>
          <mat-option *ngFor="let class of classList" [value]="class">
            {{ class }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" style="width: 75%;">
        <mat-label> Poder: </mat-label>
        <mat-select formControlName="power" required>
          <mat-option *ngFor="let power of powerList" [value]="power">
            {{ power }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" style="width: 75%;">
        <mat-label> Nivel: </mat-label>
        <mat-select formControlName="level" required>
          <mat-option *ngFor="let level of levels" [value]="level">
            {{ level }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>

  <button id="submit_button" type="submit" form="edit-form" class="button primary block submit">
    Actualizar
  </button>

  <button id="close-button" class="button secondary block close" (click)="goBack()">
    Volver atrás
  </button>
</div>

<div class="flex justify-between" *ngIf="error">
  <p class="font-sans">Por favor, rellena todos los campos</p>
  <button class="font-bold">&#10005;</button>
</div>