<div class="attack-container">
    <ul class="tilesWrap">
        <li>
            <h3>Title 1</h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s.
            </p>
            <p> {{profile.username}} </p>
        </li>
        <li>
            <h3>Title 2</h3>
            <p>
                When an unknown printer took a galley of type and scrambled it to make
                a type specimen book. It has survived not only five centuries.
            </p>
        </li>
    </ul>
</div>