<div>
  <div>
    <div *ngIf="profile">
      <h4> Nombre Actual: {{profile.username}} </h4>
      <h4> Clase actual: {{profile.clase}} </h4>
      <h4> Poder actual: {{profile.power}} </h4>
      <h4> Nivel actual: {{profile.level}} </h4>
    </div>

    <div class="button_div">
      <a id="open-update-profile" class="primary block nav-link" routerLink="accountEdit"
        routerLinkActive="active" (click)="goToAccountEdit()">
        <button> Actualizar perfil </button>
      </a>
    </div>

    <div>
      <button class="button block attack-list-display-button nav-link" routerLink="attackList" routerLinkActive="active"
        (click)="goToAttackList()"> Ver mis ataques </button>
    </div>
  </div>
  <div>
    <button class="block signOut" (click)="signOut()"> Sign out </button>
  </div>
</div>
