<div>
  <div *ngIf="profile && user?.confirmed_at; else elseBlock" class="profile-wrapper">
    <div>
      <div class="profile-wrapper">
        <h4 class="main-header"> Perfil </h4>
      </div>

      <div (click)="activateLink('profile')">
        <a id="open-update-profile" class="primary block nav-link" routerLink="accountEdit" routerLinkActive="active"
          (click)="goToAccountEdit()"> </a>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title class="card-title-stats">Datos</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h4> Nombre: {{ profile.username }} </h4>
            <h4> Clase: {{ profile.clase }} </h4>
            <h4> Poder: {{ profile.power }} </h4>
            <h4> Nivel: {{ profile.level }} </h4>
            <h4> Arma: {{ profile.weapon }} </h4>
          </mat-card-content>
        </mat-card>
      </div>


      <div (click)="activateLink('stats')">
        <a id="open-update-stats" class="primary block nav-link" routerLink="statsEdit" routerLinkActive="active"
        (click)="goToStatsEdit()"> </a>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title class="card-title-stats">Estadísticas</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h4> Vida: {{ calculatedProfile.current_hp }} / {{ calculatedProfile.total_hp }} </h4>
            <h4> Fuerza: {{ calculatedProfile.attack }} </h4>
            <h4> Defensa: {{ calculatedProfile.defense }} </h4>
            <h4> Ataque Especial: {{ calculatedProfile.special_attack }} </h4>
            <h4> Defensa Especial: {{ calculatedProfile.special_defense }} </h4>
            <h4> Velocidad: {{ calculatedProfile.speed }} </h4>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div *ngIf="profile && user?.confirmed_at">
    <div class="button_div">
      <button class="button block attack-list-display-button nav-link" routerLink="attackList" routerLinkActive="active"
        (click)="goToStatsEdit()"> Editar mis estadísticas
      </button>
      
      <!-- 
        <button class="button block attack-list-display-button nav-link" routerLink="attackList" routerLinkActive="active"
          (click)="goToCheckRolStats()">
          Comprobar estadísticas de roleo
        </button>
      -->

      <a id="open-update-profile" class="primary block nav-link" routerLink="accountEdit" routerLinkActive="active"
        (click)="goToAccountEdit()">
        <button class="button"> Actualizar perfil </button>
      </a>
      <button class="button block attack-list-display-button nav-link" routerLink="attackList" routerLinkActive="active"
        (click)="goToAttackList()"> Ver mis ataques
      </button>
    </div>
    <div>
      <button class="block signOut" (click)="signOut()"> Sign out </button>
    </div>
  </div>

  <div>
    <ng-template #elseBlock>
      <h2 style="margin: 1.5em;"> Perfil creado correctamente! </h2>
      <h3 style="margin: 1.5em;"> Por favor, verifica tu email antes de comenzar la partida. </h3>
      <button style="margin: 1em;" (click)="goToIndex()"> Volver atrás </button>
    </ng-template>
  </div>

</div>