.signOut {
  margin: 1em;
  background-color: brown;
  color: white;
}

.button {
  margin: 1em;
  color: white;
}

.button:hover {
  background-color: blanchedalmond;
  color: black;
}

.main-header {
  color: #FFDD83; 
  font-size: 4vh;
  margin-bottom: 1.6em;
}

.profile-wrapper{
  justify-items: flex-start;
}
